body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(72, 158, 234);
    min-height: 100vh;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-grow: 1;
}